<!doctype html>
<!-- Auto-bootstraps(start up) Angular app -->
<html lang="en" ng-app="friendsApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!--BEGIN BOWER COMPONENTS CSS-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <!--END BOWER COMPONENTS CSS-->
    <!--BEGIN CSS-->
    <link rel="stylesheet" href="/app/css/app.css" />
    <!--END CSS-->
</head>

<body>
    <!-- Attach the friendsCtrl to the view(in this case, the div) and allow access to it with the name ctrl -->
    <div class="container ng-hide" ng-controller="FriendsCtrl as ctrl" ng-show="ctrl">
        <div class="pull-right" style="color:blue">
            <span my-current-time="ctrl.format"></span>
        </div>
        <div class="row page-header">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <h1 class="cursor-pointer" style="text-align: center" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample"> My Friends App</h1>
                <div id="collapseExample" class="collapse">BONUS FEATURE</div>
            </div>
        </div>
        <div>
            <div>
                <!-- ng-submit prevents default submit action and binds Angular functions to form submimssion -->
                <form class="jumbotron" name="friendForm" style="padding-top: 23px;" ng-submit="ctrl.submit() && friendForm.$valid" novalidate>
                    <div class="col-md-2 col-sm-2">
                        <!-- ng-model binds the input to friendObject.friendName in friends.controller.js -->
                        <!-- ng-pattern adds a validator to the input field. Regular Expression (RegEx) is used in this case to check that only upper and lower case alphabets are used -->
                        <input type="text" class="form-control" placeholder="Friends Name" name="friendName" ng-model="ctrl.friendObject.friendName"
                            ng-pattern="/^[a-zA-Z]*$/" ng-required="true" />
                        <!-- ng-show will display the span element containing error if expression given is TRUE. In this case, expression given is when input is invalid based on ng-pattern ($error.pattern) and when the user has interacted with the form ($dirty) -->
                        <span class="validation-error" ng-show="friendForm.friendName.$error.pattern && friendForm.friendName.$dirty">
                          Please enter a valid name with alphabets only.

                     </span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="ctrl.friendObject.email" ng-required="true"
                            ng-class="has-error" />
                        <span class="validation-error" ng-show="friendForm.email.$error.email || friendForm.email.$error.required && friendForm.email.$dirty">
                           Please enter a valid email.
                     </span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input type="text" class="form-control" placeholder="Contact No" name="phone" ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/"
                            ng-model="ctrl.friendObject.contactNo" ng-required="true" ng-class="has-error" />
                        <span class="validation-error" ng-show="(
                           friendForm.phone.$error.pattern &&
                           friendForm.phone.$dirty) ">
                          Please enter a valid phone number
                         </span>
                    </div>
                    <div class="col-md-3 col-sm-3">Gender :
                        <label class="radio-inline">
                        <input type="radio" name="Gender" value="male" ng-model="ctrl.friendObject.gender" required>Male
                    </label>
                        <label class="radio-inline">
                        <input type="radio" name="Gender" value="female" ng-model="ctrl.friendObject.gender" required>Female
                    </label>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <!-- ng-disabled disables the element if the expression inside evaluates to truthy -->
                        <!-- in this case, it disables the submit button as long as there are invalid fields in the form -->
                        <button class="btn btn-primary" type="submit" ng-disabled="friendForm.$invalid">&nbsp;Add&nbsp;</button>
                        <!--  -->
                        <button class="btn btn-default btn-danger" type="button" ng-click="ctrl.resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row friend-search">
            <div class="col-md-6 col-sm-6 pull-right">
                <!-- Search & sort function -->
                <form class="form-inline">
                    Search:
                    <!-- Search input, linked to ng-repeat filter -->
                    <input type="text" class="form-control" ng-model="ctrl.query" /> Sort by:
                    <!-- Sorting preferences, linked to ng-repeat orderBy -->
                    <select class="selectpicker form-control" ng-model="ctrl.orderProp">
                    <option value="friendName">Alphabetical</option>
                    <option value="id">Newest</option>
                </select>
                </form>
            </div>
        </div>
        <hr/>
        <!-- Displays the status message base on submimssion status -->
        <div class="friend-alert" ng-show="ctrl.status.message">
            <div class="alert alert-success" ng-hide="ctrl.status.error">
                <strong>Success!</strong> {{ctrl.status.message}} <i class="fa fa-lg fa-times" aria-hidden="true" style="float:right"
                    ng-click="ctrl.status.message=''"></i>
            </div>
            <div class="alert alert-danger" ng-hide="!ctrl.status.error">
                <strong>Error!</strong> {{ctrl.status.message}} <i class="fa fa-lg fa-times" aria-hidden="true" style="float:right"
                    ng-click="ctrl.status.message=''"></i>
            </div>
        </div>
        <div class="row">
            <!-- Display the total number of friends based on the length of friendsArray -->
            <span class="pull-left total-friend">Total Friends <span class="badge">{{ ctrl.friendsArray.length }}</span></span><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <!--Body content-->
                        <ul class="friends">
                            <!--  ng-repeat instantiates a template once per item from a collection -->
                            <!-- Display all the friends inside friendsArray -->
                            <!-- "filter" will display friends matching the search query -->
                            <!-- "orderBy" will sort the friends by either name or id -->
                            <li ng-repeat="friend in ctrl.friendsArray | filter:ctrl.query | orderBy:ctrl.orderProp" class="thumbnail friend-list-item">
                                <a class="thumb">
                                    <!-- ng-src is the Angular way to write the URL in the template -->
                                    <!-- the curly braces, "{}", may not render correctly in the angular template with img " src='' " attribute-->
                                    <img ng-src="{{ friend.imageUrl }}" alt="{{ friend.friendName }}" />
                                </a>
                                <a ng-click="ctrl.showUserDetails(friend)" class="cursor-pointer" title="More Info">{{ friend.friendName }}</a>
                                <!--   <p>contactNo : {{ friend.contactNo }}</p>
                            <p>email : {{ friend.email }}</p>-->
                                <div class="pull-right "><i class="fa fa-check fa-lg cursor-pointer" ng-click="ctrl.saveToDB(friend)"
                                        ng-style="!friend.saved ? {'color':'grey'}: {'color':'green'}" aria-hidden="true" style=" margin-left: 20px;"
                                        title="Save Friend!"></i>
                                        <!-- ng-click allows you to specify custom behavior when an element is clicked. -->
                                        <!-- in this case, clicking on the icon will call the delete function in the controller -->
                                    <i class="fa fa-trash fa-lg cursor-pointer" aria-hidden="true" style=" margin-left: 20px;color:red" ng-click="ctrl.delete(friend.id)"
                                        title="Delete Friend!"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BEGIN BOWER COMPONENTS JS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <!--END BOWER COMPONENTS JS-->
    <!--BEGIN SOURCE JS-->
    <script src="/app/app.js"></script>
    <script src="/app/directives/app.directive.js"></script>
    <script src="/app/services/app.service.js"></script>
    <script src="/app/friends/friends.controller.js"></script>
    <script src="/app/modals/friends-detail.controller.js"></script>
    <!--END SOURCE JS-->
</body>

</html>