body {
    padding: 20px;
}

h1 {
    margin-top: 0;
}

/* View: Phone list */
.friends {
    list-style: none;
}

.friends li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

/* View: Phone detail */
.friend {
    background-color: white;
    display: none;
    float: left;
    height: 400px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}

.friend:first-child {
    display: block;
}

.friend-images {
    background-color: white;
    float: left;
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 450px;
}

.friend-thumbs {
    list-style: none;
    margin: 0;
}

.friend-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}

.friend-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
}

.specs {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

.specs dt {
    font-weight: bold;
}

.specs > li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.specs > li > span {
    font-size: 1.2em;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.validation-error {
    color: red
}

.ng-valid-email {
    border-color: #30e914;
}

.ng-valid-pattern {
    border-color: #30e914;
}
.total-friend {
    margin-bottom: 10px;
}
.ng-invalid-email, .ng-invalid-pattern, .ng-invalid-required {
    border-color: #e90008;
}

.ng-pristine{
    border-color: grey;
}
@media only screen and (min-width:320px) and (max-width:800px) {
    .friend-search {
        float: left;
    }

    .friend-alert {
        padding-top: 101px;
    }

}

@media (min-width: 480px) {

}
